In [14]:
import mysql.connector as connector
print("Imported")

Imported

In [15]:
connection = connector.connect(user = "root", password = "W7301@jqir#", db = "littlelemondm")
print("Connection created")

Connection created

In [16]:
cursor = connection.cursor()
print("Cursor called")

Cursor called

In [18]:
connection.database

'littlelemondm'

In [20]:
show_tables_query = """show tables"""
cursor.execute(show_tables_query)
# results = cursor.fetchall()
# print(results)
for tables in cursor:
    print(tables)

('bookings',)
('customers',)
('employees',)
('menu',)
('menuitems',)
('orderdeliverystatus',)
('orders',)
('ordersview',)

In [27]:
customer_details_query = """select concat(FirstName, " ", LastName), ContactNumber, TotalCost as BillAmount
 from Customers c
 inner join Bookings b using(CustomerID)
 inner join Orders o using(BookingID)
 where TotalCost > 30;"""
cursor.execute(customer_details_query)
print("Cutsomer details")
print()

# for data in cursor:
#     print(f"data)
results = cursor.fetchall()
for data in results:
    print(f"[FullName: {data[0]}]\n[Contact: {data[1]}]\n[BillAmount: ${data[2]}]")

Cutsomer details

[FullName: Alice Johnson]
[Contact: 5555551212]
[BillAmount: $45.00]